@import "tailwindcss";

body {
  background: #010101;
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@layer components {
  .list-design {
    @apply relative pl-[22px];
  }

  .list-design::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url('/stars.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
